body {
    background-color: #f5f5dc;
    font-family: 'Arial', sans-serif;
    margin: 0;
    height: 100vh;
    background-image: url('../Images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.nav-tabs {
    font-size: 1.25rem; /* Увеличенный шрифт */
    margin-bottom: 20px;
}

    .nav-tabs .nav-item {
        flex: 1;
        text-align: center;
    }

    .nav-tabs .nav-link {
        padding: 1rem 1.5rem;
        border-radius: 10px;
    }

.tab-content {
    flex: 1;
    padding: 3rem;
    overflow-y: auto;
}


h1, h4, h5 {
    color: #8b4513;
}

.list-group-item {
    background-color: #fffaf0;
    border: 1px solid #d2b48c;
    margin-bottom: 10px;
    border-radius: 5px;
}

.input-group .form-control {
    border-radius: 5px;
    border: 1px solid #d2b48c;
}

.input-group .btn {
    background-color: #8b4513;
    border: none;
    color: white;
    border-radius: 5px;
}

.alert {
    margin-top: 20px;
    background-color: #f5f5dc;
    border: 1px solid #d2b48c;
    color: #8b4513;
}

.order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

    .order-button .btn {
        background-color: #8b4513;
        border: none;
        color: white;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
    }

        .order-button .btn:disabled {
            background-color: #d2b48c;
            cursor: not-allowed;
        }

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

    .delete-button .btn {
        background-color: #8b4513;
        border: none;
        color: white;
        border-radius: 10px;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
    }

        .delete-button .btn:disabled {
            background-color: #d2b48c;
            cursor: not-allowed;
        }
